# Data Understanding

- What kind of data is available?
- What is the quality of the available data
- Is a restructuring of the data necessary?

## Get the data

In [1]:
##
# IMPORTS
#
import os
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

##
# SETTINGS
#
# Render all plots inline (instead of popup)
%matplotlib inline

# create data folder if not existing already
os.makedirs('./data/00-raw', exist_ok=True)

##
# DOWNLOADS
#
# download covid dataset

link = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'
path = './data/00-raw/'
filename = 'owid-covid-data.csv'
urllib.request.urlretrieve(link, path+filename)

# load dataframe
df_covid_src = pd.read_csv(path+filename, parse_dates=['date'])

# download gdp dataset
link = 'https://stats.oecd.org/sdmx-json/data/DP_LIVE/ARG+AUS+AUT+BEL+BGR+BRA+CAN+CHE+CHL+CHN+COL+CRI+CZE+DEU+DNK+ESP+EST+FIN+FRA+GBR+GRC+HUN+IDN+IND+IRL+ISL+ISR+ITA+JPN+KOR+LTU+LUX+LVA+MEX+NLD+NZL+NOR+POL+PRT+ROU+RUS+SAU+SVK+SVN+SWE+TUR+USA+ZAF.QGDP.TOT.PC_CHGPP.Q/OECD?contentType=csv&detail=code&separator=comma&csv-lang=en&startPeriod=2019-Q1&endPeriod=2020-Q4'
path = './data/00-raw/'
filename = 'oecd-gdp-data.csv'
urllib.request.urlretrieve(link, path+filename)

# load dataframe
df_gdp_src = pd.read_csv(path+filename)

## What kind of data is available?
### COVID-19

In [2]:
df_covid_src

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71045,ZWE,Africa,Zimbabwe,2021-02-20,35768.0,58.0,94.857,1432.0,2.0,4.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71046,ZWE,Africa,Zimbabwe,2021-02-21,35796.0,28.0,89.143,1436.0,4.0,5.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71047,ZWE,Africa,Zimbabwe,2021-02-22,35862.0,66.0,91.429,1441.0,5.0,4.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71048,ZWE,Africa,Zimbabwe,2021-02-23,35910.0,48.0,85.000,1448.0,7.0,4.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
71049,ZWE,Africa,Zimbabwe,2021-02-24,35960.0,50.0,76.714,1456.0,8.0,5.429,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [3]:
print ('The dataset contains {} rows and {} columns.\n'.format(df_covid_src.shape[0], df_covid_src.shape[1]))
print ('===============================================================================\n')
print ('The columns contain data about: \n')

print(df_covid_src.columns)

print ('===============================================================================\n')
print ('The aritmethic description: \n')

print(df_covid_src.describe())

The dataset contains 71050 rows and 59 columns.

===============================================================================

The columns contain data about:

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')
===============================================================================

The aritmethic description:

        total_cases      new_cases  new_cases_smoothed  total_deaths  \
count  7.013700e+04   70135.000000        69134.000000  6.110200e+04
mean   5.930349e+05    5093.242946         5113.797512  1.800995e+04
std    4.192604e+06   32196.415478        31964.805542  1.047246e+05
min    1.000000e+00  -46076.000000        -1121.714000  1.000000e+00
25%    6.930000e+02       1.000000            5.571000  3.500000e+01
50%    7.367000e+03      57.000000           68.071500  2.320000e+02
75%    8.042900e+04     650.000000          677.678250  2.174750e+03
max    1.125532e+08  879905.000000       738686.000000  2.497405e+06

         new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  61260.000000         69134.000000             69753.000000
mean     131.084819           114.802444              6959.325671
std      720.737582           656.418769             13828.774318
min    -1918.000000          -232.143000                 0.001000
25%        0.000000             0.000000               132.940000
50%        2.000000             1.000000               999.953000
75%       16.000000            11.857000              6312.720000
max    17841.000000         14378.000000            139455.122000

       new_cases_per_million  new_cases_smoothed_per_million  \
count           69751.000000                    68755.000000
mean               64.319280                       64.305465
std               165.975938                      139.201840
min             -2153.437000                     -276.825000
25%                 0.124000                        0.960000
50%                 6.029000                        8.011000
75%                53.389000                       60.464500
max              8652.658000                     2648.773000

       total_deaths_per_million  ...  gdp_per_capita  extreme_poverty  \
count              60731.000000  ...    64837.000000     44299.000000
mean                 167.189682  ...    19138.953771        13.244884
std                  299.694746  ...    19682.095801        19.908555
min                    0.001000  ...      661.240000         0.100000
25%                    5.344000  ...     4466.507000         0.500000
50%                   29.304000  ...    12951.839000         2.000000
75%                  175.726000  ...    27216.445000        21.200000
max                 2150.981000  ...   116935.600000        77.600000

       cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
count           65446.000000         66255.000000    51524.000000
mean              256.998651             7.790651       10.562025
std               118.341088             3.926570       10.413462
min                79.370000             0.990000        0.100000
25%               167.295000             5.290000        1.900000
50%               242.648000             7.110000        6.300000
75%               329.635000            10.080000       19.300000
max               724.417000            30.530000       44.000000

       male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
count  50817.000000            32832.000000                59983.000000
mean      32.649993               51.037604                    3.038290
std       13.461682               31.769635                    2.468393
min        7.700000                1.188000                    0.100000
25%       21.600000               20.859000                    1.300000
50%       31.400000               49.839000                    2.400000
75%       41.100000               83.241000                    4.000000
max       78.100000               98.999000                   13.800000

       life_expectancy  human_development_index
count     67523.000000             65425.000000
mean         73.139189                 0.728152
std           7.550140                 0.150142
min          53.280000                 0.394000
25%          67.440000                 0.602000
50%          74.530000                 0.748000
75%          78.730000                 0.848000
max          86.750000                 0.957000

[8 rows x 54 columns]

### GDP

In [4]:
df_gdp_src

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,KOR,QGDP,TOT,PC_CHGPP,Q,2019-Q1,-0.339694,P
1,KOR,QGDP,TOT,PC_CHGPP,Q,2019-Q2,1.014143,P
2,KOR,QGDP,TOT,PC_CHGPP,Q,2019-Q3,0.375455,P
3,KOR,QGDP,TOT,PC_CHGPP,Q,2019-Q4,1.311630,P
4,KOR,QGDP,TOT,PC_CHGPP,Q,2020-Q1,-1.281702,P
...,...,...,...,...,...,...,...,...
352,ROU,QGDP,TOT,PC_CHGPP,Q,2019-Q4,1.144697,P
353,ROU,QGDP,TOT,PC_CHGPP,Q,2020-Q1,0.170786,P
354,ROU,QGDP,TOT,PC_CHGPP,Q,2020-Q2,-12.158868,P
355,ROU,QGDP,TOT,PC_CHGPP,Q,2020-Q3,6.057459,P
356,ROU,QGDP,TOT,PC_CHGPP,Q,2020-Q4,5.300336,P

In [5]:
print ('The dataset contains {} rows and {} columns.\n'.format(df_gdp_src.shape[0], df_gdp_src.shape[1]))
print ('===============================================================================\n')
print ('The columns contain data about: \n')

print(df_gdp_src.columns)

print ('===============================================================================\n')
print ('The aritmethic description: \n')

print(df_gdp_src.describe())

The dataset contains 357 rows and 8 columns.

===============================================================================

The columns contain data about:

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes'],
      dtype='object')
===============================================================================

The aritmethic description:

            Value
count  357.000000
mean    -0.090433
std      5.631810
min    -25.248100
25%     -0.803969
50%      0.383760
75%      1.088440
max     21.940150

## What is the quality of the available data?
### COVID-19

In [6]:
print ('What datatypes are available?\n')
print(df_covid_src.info())

print ('===============================================================================\n')

What datatypes are available?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71050 entries, 0 to 71049
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               71050 non-null  object
 1   continent                              67515 non-null  object
 2   location                               71050 non-null  object
 3   date                                   71050 non-null  datetime64[ns]
 4   total_cases                            70137 non-null  float64
 5   new_cases                              70135 non-null  float64
 6   new_cases_smoothed                     69134 non-null  float64
 7   total_deaths                           61102 non-null  float64
 8   new_deaths                             61260 non-null  float64
 9   new_deaths_smoothed                    69134 non-null  float64
 10  total_cases_per_million                69753 non-null  float64
 11  new_cases_per_million                  69751 non-null  float64
 12  new_cases_smoothed_per_million         68755 non-null  float64
 13  total_deaths_per_million               60731 non-null  float64
 14  new_deaths_per_million                 60889 non-null  float64
 15  new_deaths_smoothed_per_million        68755 non-null  float64
 16  reproduction_rate                      56919 non-null  float64
 17  icu_patients                           7473 non-null   float64
 18  icu_patients_per_million               7473 non-null   float64
 19  hosp_patients                          8882 non-null   float64
 20  hosp_patients_per_million              8882 non-null   float64
 21  weekly_icu_admissions                  702 non-null    float64
 22  weekly_icu_admissions_per_million      702 non-null    float64
 23  weekly_hosp_admissions                 1155 non-null   float64
 24  weekly_hosp_admissions_per_million     1155 non-null   float64
 25  new_tests                              32012 non-null  float64
 26  total_tests                            31878 non-null  float64
 27  total_tests_per_thousand               31878 non-null  float64
 28  new_tests_per_thousand                 32012 non-null  float64
 29  new_tests_smoothed                     36506 non-null  float64
 30  new_tests_smoothed_per_thousand        36506 non-null  float64
 31  positive_rate                          35076 non-null  float64
 32  tests_per_case                         34557 non-null  float64
 33  tests_units                            37791 non-null  object
 34  total_vaccinations                     2585 non-null   float64
 35  people_vaccinated                      2175 non-null   float64
 36  people_fully_vaccinated                1400 non-null   float64
 37  new_vaccinations                       2192 non-null   float64
 38  new_vaccinations_smoothed              3742 non-null   float64
 39  total_vaccinations_per_hundred         2585 non-null   float64
 40  people_vaccinated_per_hundred          2175 non-null   float64
 41  people_fully_vaccinated_per_hundred    1400 non-null   float64
 42  new_vaccinations_smoothed_per_million  3742 non-null   float64
 43  stringency_index                       61143 non-null  float64
 44  population                             70657 non-null  float64
 45  population_density                     66422 non-null  float64
 46  median_age                             64673 non-null  float64
 47  aged_65_older                          63927 non-null  float64
 48  aged_70_older                          64308 non-null  float64
 49  gdp_per_capita                         64837 non-null  float64
 50  extreme_poverty                        44299 non-null  float64
 51  cardiovasc_death_rate                  65446 non-null  float64
 52  diabetes_prevalence                    66255 non-null  float64
 53  female_smokers                         51524 non-null  float64
 54  male_smokers                           50817 non-null  float64
 55  handwashing_facilities                 32832 non-null  float64
 56  hospital_beds_per_thousand             59983 non-null  float64
 57  life_expectancy                        67523 non-null  float64
 58  human_development_index                65425 non-null  float64
dtypes: datetime64[ns](1), float64(54), object(4)
memory usage: 32.0+ MB
None
===============================================================================

**Note:** *icu_patients* holds the number of COVID-19 patients in intensive care units (ICUs) on a given day

In [7]:
print ('Check why some columns contain objects:')
print ('===============================================\n')
print ('column: iso_code\n')
print (df_covid_src.iso_code.unique())
print ('\n===============================================\n')
print ('column: continent\n')
print (df_covid_src.continent.unique())
print ('\n===============================================\n')
print ('column: tests_units\n')
print (df_covid_src.tests_units.unique())

Check why some columns contain objects:
===============================================

column: iso_code

['AFG' 'OWID_AFR' 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM'
 'OWID_ASI' 'AUS' 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ'
 'BEN' 'BMU' 'BTN' 'BOL' 'BIH' 'BWA' 'BRA' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM'
 'CMR' 'CAN' 'CPV' 'CYM' 'CAF' 'TCD' 'CHL' 'CHN' 'COL' 'COM' 'COG' 'CRI'
 'CIV' 'HRV' 'CUB' 'CYP' 'CZE' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'SWZ' 'ETH' 'OWID_EUR' 'OWID_EUN' 'FRO' 'FLK'
 'FJI' 'FIN' 'FRA' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD'
 'GTM' 'GGY' 'GIN' 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN'
 'OWID_INT' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JEY' 'JOR'
 'KAZ' 'KEN' 'OWID_KOS' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY'
 'LIE' 'LTU' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT'
 'MUS' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG' 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NPL'
 'NLD' 'NZL' 'NIC' 'NER' 'NGA' 'OWID_NAM' 'MKD' 'OWID_NCY' 'NOR'
 'OWID_OCE' 'OMN' 'PAK' 'PSE' 'PAN' 'PNG' 'PRY' 'PER' 'PHL' 'POL' 'PRT'
 'QAT' 'ROU' 'RUS' 'RWA' 'SHN' 'KNA' 'LCA' 'VCT' 'WSM' 'SMR' 'STP' 'SAU'
 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'OWID_SAM'
 'KOR' 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'TZA'
 'THA' 'TLS' 'TGO' 'TTO' 'TUN' 'TUR' 'TCA' 'UGA' 'UKR' 'ARE' 'GBR' 'USA'
 'URY' 'UZB' 'VUT' 'VAT' 'VEN' 'VNM' 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']

===============================================

column: continent

['Asia' nan 'Europe' 'Africa' 'North America' 'South America' 'Oceania']

===============================================

column: tests_units

[nan 'tests performed' 'people tested' 'units unclear' 'samples tested']

### GDP

In [8]:
print ('What datatypes are available?\n')
print(df_gdp_src.info())

print ('===============================================================================\n')

What datatypes are available?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357 entries, 0 to 356
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCATION    357 non-null    object
 1   INDICATOR   357 non-null    object
 2   SUBJECT     357 non-null    object
 3   MEASURE     357 non-null    object
 4   FREQUENCY   357 non-null    object
 5   TIME        357 non-null    object
 6   Value       357 non-null    float64
 7   Flag Codes  60 non-null     object
dtypes: float64(1), object(7)
memory usage: 22.4+ KB
None
===============================================================================

In [9]:
print ('Check why some columns contain objects:')
print ('===============================================\n')
print ('column: LOCATION\n')
print (df_gdp_src.LOCATION.unique())
print ('\n===============================================\n')
print ('column: INDICATOR\n')
print (df_gdp_src.INDICATOR.unique())
print ('\n===============================================\n')
print ('column: SUBJECT\n')
print (df_gdp_src.SUBJECT.unique())

Check why some columns contain objects:
===============================================

column: LOCATION

['KOR' 'AUS' 'ISL' 'GBR' 'EST' 'DNK' 'ESP' 'JPN' 'NOR' 'HUN' 'CAN' 'ARG'
 'SVN' 'FIN' 'BRA' 'NLD' 'USA' 'SVK' 'MEX' 'BEL' 'ISR' 'TUR' 'IND' 'LVA'
 'CZE' 'POL' 'DEU' 'IDN' 'LUX' 'ZAF' 'RUS' 'PRT' 'ITA' 'AUT' 'IRL' 'CHE'
 'NZL' 'CHN' 'CHL' 'SWE' 'FRA' 'GRC' 'COL' 'LTU' 'SAU' 'BGR' 'ROU']

===============================================

column: INDICATOR

['QGDP']

===============================================

column: SUBJECT

['TOT']

## Is a restructuring of the data necessary?

Short answer: **YES**

- New grouping with year, month, week (, maybe for continents as well)
- Subsets for each location and *special* owid-datasets (aggregated data: e.g. OWID_ASI for continent asia)
- merge gdp with covid dataset
- The data contains a lot of outliers