# Data Understanding

- What kind of data is available?
- What is the quality of the available data
- Is a restructuring of the data necessary?

## Get the data

In [63]:
##
# IMPORTS
#
import os
import urllib.request
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

##
# SETTINGS
#
# Render all plots inline (instead of popup)
%matplotlib inline

# create data folder if not existing already
os.makedirs('./data/00-raw', exist_ok=True)

##
# DOWNLOADS
#
# download covid dataset

link = 'https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv'
path = './data/00-raw/'
filename = 'owid-covid-data.csv'
urllib.request.urlretrieve(link, path+filename)

# load dataframe
df_src = pd.read_csv(path+filename, parse_dates=['date'])

## What kind of data is available?

In [64]:
df_src

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70439,ZWE,Africa,Zimbabwe,2021-02-17,35423.0,108.0,79.857,1418.0,4.0,7.714,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
70440,ZWE,Africa,Zimbabwe,2021-02-18,35543.0,120.0,97.000,1420.0,2.0,8.000,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
70441,ZWE,Africa,Zimbabwe,2021-02-19,35710.0,167.0,95.000,1430.0,10.0,5.286,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
70442,ZWE,Africa,Zimbabwe,2021-02-20,35768.0,58.0,94.857,1432.0,2.0,4.857,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571
70443,ZWE,Africa,Zimbabwe,2021-02-21,35796.0,28.0,89.143,1436.0,4.0,5.143,...,1899.775,21.4,307.846,1.82,1.6,30.7,36.791,1.7,61.49,0.571

In [65]:
print ('The dataset contains {} rows and {} columns.\n'.format(df_src.shape[0], df_src.shape[1]))
print ('===============================================================================\n')
print ('The columns contain data about: \n')

print(df_src.columns)

print ('===============================================================================\n')
print ('The aritmethic description: \n')

print(df_src.describe())

The dataset contains 70444 rows and 59 columns.

===============================================================================

The columns contain data about:

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')
===============================================================================

The aritmethic description:

        total_cases      new_cases  new_cases_smoothed  total_deaths  \
count  6.954000e+04   69538.000000        68537.000000  6.053800e+04
mean   5.826693e+05    5084.338376         5105.302428  1.778168e+04
std    4.122788e+06   32204.541406        31977.245033  1.032542e+05
min    1.000000e+00  -46076.000000        -1121.714000  1.000000e+00
25%    6.780000e+02       1.000000            5.571000  3.500000e+01
50%    7.234500e+03      56.000000           67.286000  2.300000e+02
75%    7.912325e+04     643.000000          671.143000  2.140000e+03
max    1.114331e+08  879905.000000       738686.000000  2.467139e+06

         new_deaths  new_deaths_smoothed  total_cases_per_million  \
count  60696.000000         68537.000000             69159.000000
mean     130.680473           114.455698              6825.098557
std      719.036459           655.175866             13584.596709
min    -1918.000000          -232.143000                 0.001000
25%        0.000000             0.000000               130.675000
50%        2.000000             1.000000               986.202000
75%       16.000000            11.857000              6164.639000
max    17841.000000         14378.000000            138471.494000

       new_cases_per_million  new_cases_smoothed_per_million  \
count           69157.000000                    68161.000000
mean               63.932949                       63.961098
std               165.751367                      139.028026
min             -2153.437000                     -276.825000
25%                 0.122000                        0.952000
50%                 5.945000                        7.938000
75%                52.677000                       59.710000
max              8652.658000                     2648.773000

       total_deaths_per_million  ...  gdp_per_capita  extreme_poverty  \
count              60170.000000  ...    64285.000000     43924.000000
mean                 164.605999  ...    19145.299490        13.239011
std                  295.419518  ...    19684.137906        19.906381
min                    0.001000  ...      661.240000         0.100000
25%                    5.274000  ...     4541.795000         0.500000
50%                   28.850000  ...    12951.839000         2.000000
75%                  173.827750  ...    27216.445000        21.200000
max                 2121.516000  ...   116935.600000        77.600000

       cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
count           64891.000000         65691.000000    51095.000000
mean              256.942221             7.789306       10.563354
std               118.316818             3.924072       10.413808
min                79.370000             0.990000        0.100000
25%               167.295000             5.290000        1.900000
50%               242.648000             7.110000        6.300000
75%               325.721000            10.080000       19.300000
max               724.417000            30.530000       44.000000

       male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
count  50394.000000            32547.000000                59482.000000
mean      32.649672               51.044318                    3.038618
std       13.461166               31.769976                    2.468640
min        7.700000                1.188000                    0.100000
25%       21.600000               20.859000                    1.300000
50%       31.400000               49.839000                    2.400000
75%       41.100000               83.241000                    4.000000
max       78.100000               98.999000                   13.800000

       life_expectancy  human_development_index
count     66944.000000             64870.000000
mean         73.140788                 0.728211
std           7.550109                 0.150144
min          53.280000                 0.394000
25%          67.440000                 0.602000
50%          74.620000                 0.748000
75%          78.730000                 0.848000
max          86.750000                 0.957000

[8 rows x 54 columns]

## What is the quality of the available data?

In [66]:
print ('What datatypes are available?\n')
print(df_src.info())

print ('===============================================================================\n')

What datatypes are available?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70444 entries, 0 to 70443
Data columns (total 59 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               70444 non-null  object
 1   continent                              66936 non-null  object
 2   location                               70444 non-null  object
 3   date                                   70444 non-null  datetime64[ns]
 4   total_cases                            69540 non-null  float64
 5   new_cases                              69538 non-null  float64
 6   new_cases_smoothed                     68537 non-null  float64
 7   total_deaths                           60538 non-null  float64
 8   new_deaths                             60696 non-null  float64
 9   new_deaths_smoothed                    68537 non-null  float64
 10  total_cases_per_million                69159 non-null  float64
 11  new_cases_per_million                  69157 non-null  float64
 12  new_cases_smoothed_per_million         68161 non-null  float64
 13  total_deaths_per_million               60170 non-null  float64
 14  new_deaths_per_million                 60328 non-null  float64
 15  new_deaths_smoothed_per_million        68161 non-null  float64
 16  reproduction_rate                      56557 non-null  float64
 17  icu_patients                           7473 non-null   float64
 18  icu_patients_per_million               7473 non-null   float64
 19  hosp_patients                          8882 non-null   float64
 20  hosp_patients_per_million              8882 non-null   float64
 21  weekly_icu_admissions                  702 non-null    float64
 22  weekly_icu_admissions_per_million      702 non-null    float64
 23  weekly_hosp_admissions                 1155 non-null   float64
 24  weekly_hosp_admissions_per_million     1155 non-null   float64
 25  new_tests                              32003 non-null  float64
 26  total_tests                            31865 non-null  float64
 27  total_tests_per_thousand               31865 non-null  float64
 28  new_tests_per_thousand                 32003 non-null  float64
 29  new_tests_smoothed                     36493 non-null  float64
 30  new_tests_smoothed_per_thousand        36493 non-null  float64
 31  positive_rate                          35076 non-null  float64
 32  tests_per_case                         34557 non-null  float64
 33  tests_units                            37778 non-null  object
 34  total_vaccinations                     2409 non-null   float64
 35  people_vaccinated                      2033 non-null   float64
 36  people_fully_vaccinated                1311 non-null   float64
 37  new_vaccinations                       2039 non-null   float64
 38  new_vaccinations_smoothed              3520 non-null   float64
 39  total_vaccinations_per_hundred         2409 non-null   float64
 40  people_vaccinated_per_hundred          2033 non-null   float64
 41  people_fully_vaccinated_per_hundred    1311 non-null   float64
 42  new_vaccinations_smoothed_per_million  3520 non-null   float64
 43  stringency_index                       60376 non-null  float64
 44  population                             70054 non-null  float64
 45  population_density                     65852 non-null  float64
 46  median_age                             64127 non-null  float64
 47  aged_65_older                          63387 non-null  float64
 48  aged_70_older                          63765 non-null  float64
 49  gdp_per_capita                         64285 non-null  float64
 50  extreme_poverty                        43924 non-null  float64
 51  cardiovasc_death_rate                  64891 non-null  float64
 52  diabetes_prevalence                    65691 non-null  float64
 53  female_smokers                         51095 non-null  float64
 54  male_smokers                           50394 non-null  float64
 55  handwashing_facilities                 32547 non-null  float64
 56  hospital_beds_per_thousand             59482 non-null  float64
 57  life_expectancy                        66944 non-null  float64
 58  human_development_index                64870 non-null  float64
dtypes: datetime64[ns](1), float64(54), object(4)
memory usage: 31.7+ MB
None
===============================================================================

**Note:** *icu_patients* holds the number of COVID-19 patients in intensive care units (ICUs) on a given day

In [67]:
print ('Check why some columns contain objects:')
print ('===============================================\n')
print ('column: iso_code\n')
print (df_src.iso_code.unique())
print ('\n===============================================\n')
print ('column: continent\n')
print (df_src.continent.unique())
print ('\n===============================================\n')
print ('column: tests_units\n')
print (df_src.tests_units.unique())

Check why some columns contain objects:
===============================================

column: iso_code

['AFG' 'OWID_AFR' 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM'
 'OWID_ASI' 'AUS' 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ'
 'BEN' 'BMU' 'BTN' 'BOL' 'BIH' 'BWA' 'BRA' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM'
 'CMR' 'CAN' 'CPV' 'CYM' 'CAF' 'TCD' 'CHL' 'CHN' 'COL' 'COM' 'COG' 'CRI'
 'CIV' 'HRV' 'CUB' 'CYP' 'CZE' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY'
 'SLV' 'GNQ' 'ERI' 'EST' 'SWZ' 'ETH' 'OWID_EUR' 'OWID_EUN' 'FRO' 'FLK'
 'FJI' 'FIN' 'FRA' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD'
 'GTM' 'GGY' 'GIN' 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN'
 'OWID_INT' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JEY' 'JOR'
 'KAZ' 'KEN' 'OWID_KOS' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY'
 'LIE' 'LTU' 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MHL' 'MRT'
 'MUS' 'MEX' 'FSM' 'MDA' 'MCO' 'MNG' 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NPL'
 'NLD' 'NZL' 'NIC' 'NER' 'NGA' 'OWID_NAM' 'MKD' 'OWID_NCY' 'NOR'
 'OWID_OCE' 'OMN' 'PAK' 'PSE' 'PAN' 'PNG' 'PRY' 'PER' 'PHL' 'POL' 'PRT'
 'QAT' 'ROU' 'RUS' 'RWA' 'SHN' 'KNA' 'LCA' 'VCT' 'WSM' 'SMR' 'STP' 'SAU'
 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'OWID_SAM'
 'KOR' 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK' 'TZA'
 'THA' 'TLS' 'TGO' 'TTO' 'TUN' 'TUR' 'TCA' 'UGA' 'UKR' 'ARE' 'GBR' 'USA'
 'URY' 'UZB' 'VUT' 'VAT' 'VEN' 'VNM' 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']

===============================================

column: continent

['Asia' nan 'Europe' 'Africa' 'North America' 'South America' 'Oceania']

===============================================

column: tests_units

[nan 'tests performed' 'people tested' 'units unclear' 'samples tested']

## Is a restructuring of the data necessary?

Short answer: **YES**

- New grouping with year, month, week (, maybe for continents as well)
- Subsets for each location and *special* owid-datasets (aggregated data: e.g. OWID_ASI for continent asia)